.card {
  border: 1px solid var(--card-border-color);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  width: 450px;
  color: var(--card-text-color);
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--card-background);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  color: var(--text-color-white);
  font-size: 1rem;
}

.title {
  font-size: 1.2rem;
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.amount {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color-white);
  line-height: 1;
}

.chartContainer {
  margin-top: 15px;
  width: 100%;
  height: 200px;
  margin-left: -15px;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  color: var(--text-color-white);
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.addIcon {
  font-size: 1rem;
}
