.separator {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  margin: 1rem 0;
}

.dark {
  background-color: #0D0D0D;
}

.accent {
  background-color: var(--accent-color, #0096FF); /* fallback blue */
}
