.Container {
    background-color: #0D0D0D;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #0070BE;
    padding: 20px;
    font-size: 14px;
}



.ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DeskImage {
    width: 350px;
    height: auto;
    padding-top: 30px;
}