.Container {
    background-color: #0D0D0D;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #0070BE;
    padding: 20px;
    font-size: 14px;
}

.SliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 120px;

}

.DeskSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: rotate(-90deg);
    background-image: linear-gradient(to right,
            #FF3300,
            #D9D9D9,
            #0096FF);

    border-radius: 15px;

}



.DeskSlider:hover {
    opacity: 1;
}

.DeskSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 50%;
}

.DeskSlider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 50%;
}

.ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DeskImage {
    width: 350px;
    height: auto;
    padding-top: 30px;
}

.Label {
    padding-top: 120px;
}