.SliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 300px;
    width: 100%;
}

.DeskSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: rotate(-90deg);
    transform-origin: center center;
    background-image: linear-gradient(to right,
            #FF3300,
            #D9D9D9,
            #0096FF);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -2.5px;
}



.DeskSlider:hover {
    opacity: 1;
}

.DeskSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.DeskSlider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

/* slider thumb black in light theme */
:global(body.light) .DeskSlider::-webkit-slider-thumb {
    background-color: #000000;
}

:global(body.light) .DeskSlider::-moz-range-thumb {
    background-color: #000000;
}

.Label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    color: var(--card-text-color);
    pointer-events: none;
    transition: color 0.3s ease;
}