.card {
  border: 1px solid #0096FF;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  width: 630px;
  height: 500px;
  color: white;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #5F5F5F;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addButton:hover {
  background-color: #0096FF;
}

.addIcon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}


.icon {
  color: #ffffff;
  font-size: 1rem;
}

.title {
  font-size: 1.2rem;
  opacity: 1;
}

.subtitle {
  font-size: 1.8rem;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.amount {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 10px;
  font-style: bold;
  color: #0096FF;
}

.chartContainer {
  width: 100%;
  height: 500px;
  margin-left: -30px; /* Crazy style adjustment */
}
