.card {
  border: 1px solid var(--card-border-color);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  width: 630px;
  height: 500px;
  color: var(--card-text-color);
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--card-background);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--input-background);
  color: var(--card-text-color);
  border: none;
  border-radius: 25px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.addButton:hover {
  background-color: #0096FF;
}

.addIcon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}


.icon {
  color: var(--card-text-color);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.title {
  font-size: 1.2rem;
  opacity: 1;
  color: var(--card-text-color);
  transition: color 0.3s ease;
}

.subtitle {
  font-size: 1.4rem;
  color: var(--card-text-color);
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.amount {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 10px;
  font-style: bold;
  color: #0096FF;
}

.chartContainer {
  width: 100%;
  height: 500px;
  margin-left: -30px;
  /* Crazy style adjustment */
}