.card {
  border: 1px solid #0096FF;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  width: 330px;
  color: white;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  color: #ffffff;
  font-size: 1rem;
}

.title {
  font-size: 1.2rem;
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.amount {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
}

.progressWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.progressBar {
  width: 100%;
  height: 24px;
  border-radius: 20px;
  overflow: hidden; 
  background-color: #5F5F5F;
}

.progressFill {
  height: 100%;
  background-color: #0096FF;
  border-radius: 20px;
}
