.LogoutButton {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    cursor: pointer;
}