.logoContainer {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    transition: background-color 0.3s ease;
}

.logoContainer> :first-child {
    position: static !important;
    margin-bottom: 3rem;
    width: 100%;
    align-self: flex-start;
}

.gridContainer {
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    padding-top: 10rem;


}

.deskComponentsGridSetup {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.deskConnectionStatus {
    grid-column: 1 / 3;
    grid-row: 1;
}

.deskImageAndSlider {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.deskSettings {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
}

.zoomContainer {
    zoom: 0.85;
}
