.logoContainer {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    transition: background-color 0.3s ease;
}

.gridContainer {
    margin-left: 380px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zoomContainer {
    zoom: 0.85;
}

.subgrid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.subgrid > div {
    height: 400px;
}

@media (max-width: 1000px) {
    .subgrid {
        grid-template-columns: 1fr;
    }
}