.logoContainer {
    background-color: #0D0D0D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;

}

.gridContainer {
    margin-left: 300px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10rem;
    padding-top: 10rem;


}

.zoomContainer {
    zoom: 0.85;
}
