.card {
  border: 1px solid var(--card-border-color);
  border-radius: 12px;
  padding: 1.5rem;
  width: 150px;
  color: var(--card-text-color);
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--card-background);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  color: var(--card-text-color);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
}

.amount {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--card-text-color);
  line-height: 1;
  text-align: left;
  margin: 0.5rem 0;
  transition: color 0.3s ease;
}

.unit {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 0.5rem;
  color: var(--card-text-color);
  transition: color 0.3s ease;
}

.status {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0096FF;
  text-align: left;
  margin-top: -1rem;
}
