.settingsContainer {
    padding-top: 200px;
    display: grid;
    place-items: center;

}
.settingsContainer > * + * {
  margin-top: 2rem;
}

.settingText {

    display: grid;
    place-items: center;

}

;