.settingsContainer {
    padding-top: 200px;
    display: grid;
    place-items: center;

}

.settingText {

    display: grid;
    place-items: center;

}

.DeleteButton {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 10px;
}

;