.settingsContainer {
    padding-top: 200px;
    display: grid;
    place-items: center;

}
.settingsContainer > * + * {
  margin-top: 2rem;
}

.settingsText {
    display: grid;
    place-items: center;

}

.zoomContainer {
    zoom: 0.85;
}