.ConnectionContainer {
    background-color: #0D0D0D;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    border: 2px solid #0070BE;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
}