.StatusCircle {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 20px;
}

.StatusText {
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 5px;
}