.ConnectionContainer {
    background-color: var(--card-background);
    height: 82%;
    width: 96%;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid var(--card-border-color);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    color: var(--card-text-color);
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.StatusCircle {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 20px;
}

.StatusText {
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 5px;
}