.langContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.languageChange {
    height: 35px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.flagIcon {
    width: 40px;
    height: 25px;
    margin-right: 8px;
    object-fit: cover;
    border-radius: 2px;
}