.container {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-left: 300px;
    transition: background-color 0.3s ease;
}

.container> :first-child {
    position: static !important;
    margin-bottom: 3rem;
    width: 100%;
    align-self: center;
}

.container > * + * {
  margin-top: 2rem;
}

.calorieRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  width: 100%;
  max-width: 1400px;
}


.zoomContainer {
    zoom: 0.85;
}
