.container {
    background-color: #0D0D0D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-left: 300px;

}

.container> :first-child {
    position: static !important;
    margin-bottom: 3rem;
    width: 100%;
    align-self: flex-start;
}

.container > * + * {
  margin-top: 2rem;
}

.calorieRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  width: 100%;
  max-width: 1400px;
}
