.card {
    border: 1px solid #0096FF;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    width: 330px;
    color: white;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    color: #ffffff;
    font-size: 1rem;
}

.title {
    font-size: 1.2rem;
    opacity: 1;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.percent {
    margin-left: 20px;
    font-size: 4rem;
    font-weight: 700;
    color: #0096FF;
}

.progressContainer {
    position: relative;
    width: 130px;
    height: 130px;
}

.progressRing {
    transform: rotate(270deg);
    width: 100%;
    height: 100%;
}

.bgPath {
    fill: none;
    stroke: #5F5F5F;
    stroke-width: 4;
}

.progressPath {
    fill: none;
    stroke: #0096FF;
    stroke-width: 4;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
}

.calories {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.current {
    font-size: 1.5rem;
    font-weight: 600;
}

.goal {
    font-size: 1rem;
    color: #aaa;
}
